* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* li {
  list-style: none;
}

* a {
  text-decoration: none;
  color: #000;
}

body {
  font-size: 16px;
  font-family: roboto, sans-serif;
}

body header {
  width: 100%;
  height: 7rem;
  position: fixed;
  background: #f47f7b;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

body header .not-sticky {
  display: none;
}

body header .sticky {
  display: block;
}

body header nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

body header nav .logo-container {
  display: flex;
  align-items: center;
  width: 25%;
}

body header nav .nav-container {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
}

body header nav .nav-container .nav-links a {
  position: relative;
  color: #fff;
  transition: 0.9s;
}

body header nav .nav-container .nav-links a:hover {
  color: #212529;
}

body header nav .nav-container .button-container {
  width: 182px;
  height: 50px;
  background: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body header nav .nav-container .button-container a {
  position: relative;
  width: 65%;
  color: #f47f7b;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

body header nav .nav-container .button-container a::before {
  content: "";
  position: absolute;
  left: 41px;
  top: -160%;
  background-image: url(/public/images/right-arrow.svg);
  display: inline-block;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 100%;
  height: 200%;
  transition: 0.2s;
}

body header nav .nav-container .button-container a img {
  width: 20px;
  height: 20px;
  transition: 0.3s;
}

body header nav .nav-container .button-container a span {
  transition: 0.3s;
}

body header nav .nav-container .button-container a:hover::before {
  transform: translateY(25px);
}

body header nav .nav-container .button-container a:hover span,
body header nav .nav-container .button-container a:hover .arrows {
  transform: translateY(20px);
}

body header nav .nav-mobile {
  display: none;
}

body header nav .nav-mobile #menu-icon {
  width: 40px;
  height: 40px;
}

body header nav .nav-mobile .nav-container {
  position: fixed;
  width: 100%;
  height: calc(100vh - 7rem);
  top: 7rem;
  left: 0;
  transform: translateX(100%);
  background: #fff;
  z-index: 999;
  transition: 1s;
  font-size: 19px;
}

body header nav .nav-mobile .nav-container li {
  margin: 10px 0;
}

body header nav .nav-mobile .nav-container .li-active {
  position: relative;
}

body header nav .nav-mobile .nav-container .li-active::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #f47f7b;
}

body header nav .nav-mobile .nav-container a {
  color: #212529;
}

body header nav .nav-mobile .nav-container .button-container {
  background: #f47f7b;
}

body header nav .nav-mobile .nav-container .button-container a {
  color: #fff;
}

body header nav .nav-mobile .nav-container .button-container a::before {
  background-image: url(/public/images/right-arrow-white.svg);
}

body .sticky-header {
  background: #fff;
  box-shadow: 0 2px 2px -2px gray;
}

body .sticky-header .not-sticky {
  display: block;
}

body .sticky-header .sticky {
  display: none;
}

body .sticky-header #white-logo {
  display: none;
}

body .sticky-header #dark-logo {
  display: block;
}

body .sticky-header .nav-container .nav-links a {
  color: #212529;
  position: relative;
  transition: 0.9s;
}

body .sticky-header .nav-container .nav-links a:hover {
  color: #f47f7b;
}

body .sticky-header .nav-container .button-container {
  background-color: #f47f7b;
}

body .sticky-header .nav-container .button-container a {
  color: #fff;
}

body .sticky-header .nav-container .button-container a::before {
  content: "";
  background-image: url(/public/images/right-arrow-white.svg);
}

body .sticky-header .nav-container .button-container #arrow {
  display: none;
}

body .sticky-header .nav-container .button-container #arrow-white {
  display: block;
}

@media only screen and (max-width: 991px) {
  body header nav .desktop-nav {
    display: none;
  }
  body header nav .nav-mobile {
    display: block;
  }
  body header nav .nav-mobile .nav-container {
    display: flex;
    flex-direction: column;
  }
}

@keyframes header-animation {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}

body .container {
  width: 100%;
  padding-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("/public/images/bg-gradient.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

body .container .header__section {
  width: 70%;
  height: calc(100vh - 7rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

body .container .header__section .section__title {
  width: 80%;
}

body .container .header__section .section__title h1 {
  font-size: 3.5rem;
  text-align: center;
}

body .container .header__section .section__title p {
  font-size: 1.2rem;
  margin: 2rem 0;
  text-align: center;
}

body .container .header__section .section__button-container {
  background: #e8505b;
  width: 24%;
  min-width: 200px;
  font-size: 14px;
  height: 3.5rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .container .header__section .section__button-container a {
  position: relative;
  height: 100%;
  width: 60%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

body .container .header__section .section__button-container a span,
body .container .header__section .section__button-container a img {
  transition: 0.5s;
}

body .container .header__section .section__button-container a::before {
  content: "";
  position: absolute;
  top: -100%;
  left: calc(50% - 15px);
  background-image: url(/public/images/right-arrow-white.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 100%;
  height: 200%;
  transition: 0.5s;
}

body .container .header__section .section__button-container a img {
  width: 20px;
}

body .container .header__section .section__button-container a:hover::before {
  transform: translateY(60%);
}

body .container .header__section .section__button-container a:hover span,
body .container .header__section .section__button-container a:hover .arrows {
  transform: translateY(250%);
}

@media screen and (max-width: 992px) {
  body .container {
    padding-top: 10rem;
  }
}

body .body__bg-image img {
  max-width: 100%;
}

body .main__slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

body .main__slider-container .slider__title {
  text-align: center;
  margin: 4rem 0;
  color: gray;
}

body .main__slider-container .slider-container__slider {
  width: 70%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  cursor: grab;
  margin: 2rem 0;
}

body .main__slider-container .slider-container__slider img {
  opacity: 0.6;
  margin: 0 3rem;
  width: 4rem;
  height: 4rem;
  transition: 0.5s;
}

body .main__slider-container .slider-container__slider img:hover {
  opacity: 1;
}

@media screen and (max-width: 992px) {
  body .main__slider-container .slider-container__slider {
    width: 80%;
    overflow-x: scroll;
  }
  body .main__slider-container .slider-container__slider img {
    margin-bottom: 10px;
  }
  body .main__slider-container .slider-container__slider::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  body .main__slider-container .slider-container__slider::-webkit-scrollbar {
    width: 6px;
    height: 5px;
    background-color: #f5f5f5;
  }
  body .main__slider-container .slider-container__slider::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f47f7b;
  }
}

body .main__cards_section {
  width: 100%;
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .main__cards_section .title {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

body .main__cards_section .title h2 {
  color: #212529;
  font-size: 1.8rem;
}

body .main__cards_section .title p {
  opacity: 0.7;
  font-size: 1.1rem;
  margin: 1rem 0;
}

body .main__cards_section .cards_container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

body .main__cards_section .cards_container .card {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 17rem;
  margin: 3rem 0;
  padding: 1rem 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

body .main__cards_section .cards_container .card img {
  width: 4rem;
  transition: 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

body .main__cards_section .cards_container .card img:hover {
  transform: scale(1.1);
}

body .main__cards_section .cards_container .card h3 {
  color: #212529;
  opacity: 0.9;
}

body .main__cards_section .cards_container .card p {
  opacity: 0.7;
}

body .main__cards_section .cards_container .card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media screen and (max-width: 992px) {
  body .main__cards_section .cards_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .main__cards_section .cards_container .card {
    width: 60%;
  }
}

body .main__clients_section {
  width: 100%;
  position: relative;
  background: #fef6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .main__clients_section .clients_section__container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body .main__clients_section .clients_section__container .container__parts {
  margin: 10rem 0;
}

body .main__clients_section .clients_section__container .counter-part {
  width: 40%;
  display: flex;
  flex-direction: column;
}

body .main__clients_section .clients_section__container .counter-part h2 {
  color: #212529;
  opacity: 0.9;
  line-height: 2.5rem;
  font-size: 1.7rem;
}

body .main__clients_section .clients_section__container .counter-part p {
  margin-top: 1rem;
  opacity: 0.6;
  line-height: 1.4rem;
  font-size: 1rem;
}

body .main__clients_section .clients_section__container .counter-part .counter__box {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

body .main__clients_section .clients_section__container .counter-part .counter__box img {
  max-width: 3rem;
}

body .main__clients_section .clients_section__container .counter-part .counter__box .box {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  width: 12rem;
  height: 7rem;
}

body .main__clients_section .clients_section__container .counter-part .counter__box .box .counter {
  width: 54%;
  display: flex;
  align-items: center;
}

body .main__clients_section .clients_section__container .illustration_part img {
  width: 100%;
  max-width: 30rem;
}

body .main__clients_section .clients_section__line {
  width: 80%;
  position: absolute;
  top: 36rem;
  border: 0;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 992px) {
  body .main__clients_section .clients_section__container {
    flex-direction: column;
    text-align: center;
  }
  body .main__clients_section .clients_section__container .counter-part {
    width: 100%;
  }
  body .main__clients_section .clients_section__container .counter-part .counter__box .box {
    min-width: 75%;
  }
}

@media screen and (max-width: 563px) {
  body .main__clients_section .clients_section__container .counter-part .counter__box {
    flex-direction: column;
    align-items: center;
  }
  body .main__clients_section .clients_section__container .counter-part .counter__box .box {
    width: 60%;
    margin-bottom: 1rem;
  }
  body .main__clients_section .clients_section__line {
    top: 41rem;
  }
}

body .main__price_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 4rem 0;
  width: 100%;
}

body .main__price_section .title {
  width: 40%;
}

body .main__price_section .title h2 {
  font-size: 1.7rem;
  color: #212529;
}

body .main__price_section .title p {
  opacity: 0.7;
  margin: 1.5rem 0;
  line-height: 1.7rem;
}

body .main__price_section .price_section__cards_container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

body .main__price_section .price_section__cards_container .card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .main__price_section .price_section__cards_container .card .price_container {
  position: relative;
}

body .main__price_section .price_section__cards_container .card .price_container .price-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body .main__price_section .price_section__cards_container .card .price_container .price-title h2,
body .main__price_section .price_section__cards_container .card .price_container .price-title h3 {
  color: whitesmoke;
}

body .main__price_section .price_section__cards_container .card .price_container .price-title h2 {
  font-size: 4rem;
}

body .main__price_section .price_section__cards_container .card .price_container .price-title h3 {
  font-size: 1.1rem;
  margin-top: 1rem;
}

body .main__price_section .price_section__cards_container .card .price_container .price-title .money-before-after::before {
  content: "$";
  font-size: 1.5rem;
}

body .main__price_section .price_section__cards_container .card .price_container .price-title .money-before-after::after {
  content: "/mo";
  font-size: 1.3rem;
}

body .main__price_section .price_section__cards_container .card .price_container img {
  max-width: 100%;
  vertical-align: middle;
}

body .main__price_section .price_section__cards_container .card .info-container {
  width: 100%;
}

body .main__price_section .price_section__cards_container .card .info-container .list-item {
  width: 100%;
  height: 3rem;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .main__price_section .price_section__cards_container .card .info-container .list-item:nth-child(2n) {
  background: #f7e8e8;
}

body .main__price_section .price_section__cards_container .card .info-container .list-item:nth-child(2n + 1) {
  background: white;
}

body .main__price_section .price_section__cards_container .card .info-container .through-line {
  text-decoration: line-through;
}

body .main__price_section .price_section__cards_container .card .button-container-dark {
  background: #212529;
}

body .main__price_section .price_section__cards_container .card .button-container-light {
  background: #e8505b;
}

body .main__price_section .price_section__cards_container .card .button-container {
  margin-top: 1.3rem;
  width: 24%;
  min-width: 200px;
  font-size: 14px;
  height: 3.5rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .main__price_section .price_section__cards_container .card .button-container a {
  position: relative;
  height: 100%;
  width: 60%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

body .main__price_section .price_section__cards_container .card .button-container a span,
body .main__price_section .price_section__cards_container .card .button-container a img {
  transition: 0.5s;
}

body .main__price_section .price_section__cards_container .card .button-container a::before {
  content: "";
  position: absolute;
  top: -100%;
  left: calc(50% - 15px);
  background-image: url(/public/images/right-arrow-white.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 100%;
  height: 200%;
  transition: 0.5s;
}

body .main__price_section .price_section__cards_container .card .button-container a img {
  width: 20px;
}

body .main__price_section .price_section__cards_container .card .button-container a:hover::before {
  transform: translateY(60%);
}

body .main__price_section .price_section__cards_container .card .button-container a:hover span,
body .main__price_section .price_section__cards_container .card .button-container a:hover .arrows {
  transform: translateY(250%);
}

@media screen and (max-width: 992px) {
  body main .main__price_section .title {
    width: 80%;
  }
  body main .main__price_section .price_section__cards_container {
    flex-wrap: wrap;
    align-items: center;
  }
  body main .main__price_section .price_section__cards_container .card {
    width: 100%;
    margin-bottom: 1rem;
  }
  body main .main__price_section .price_section__cards_container .card .info-container {
    max-width: 23rem;
    width: 100%;
  }
  body main .main__price_section .price_section__cards_container .card .info-container .list-item {
    width: 100%;
  }
}

body footer {
  margin-top: 2rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fef6f6;
}

body footer p {
  text-align: center;
  color: #6e6d6d;
}

body footer p a {
  color: #f47f7b;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f47f7b;
}

body ::selection {
  color: #fff;
  background: #e8505b;
}
/*# sourceMappingURL=main.css.map */